#advanced-search-form {
    font-family: "Myriad Pro";
    background-color: #fff;
    max-width: 60%;
    min-width: 40%;
    margin-bottom: 3%;
    padding: 20px;
    color: #858b8e;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

#advanced-search-form2 {
    font-family: "Myriad Pro";
    background-color: #fff;
    max-width: 80%;
    color: #858b8e;
}

#advanced-search-form span, #advanced-search-form2 span{
    padding-bottom: 0%;
    margin: 10px 20px;
    font-size: 24px;
}

#advanced-search-form hr, #advanced-search-form2 hr{
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left:3px;
    border: 1px solid #cccccc;

}

#advanced-search-form .form-group, #advanced-search-form2 .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}

#advanced-search-form .form-control, #advanced-search-form2 .form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#advanced-search-form .radio-inline, #advanced-search-form2 .radio-inline{
    margin-left: 10px;
    margin-right: 10px;
}

#advanced-search-form .gender, #advanced-search-form2 .gender{
    width: 30%;
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#advanced-search-form .btn, #advanced-search-form2 .btn{
    width: 46%;
    margin: 20px auto 0;
    display: block;
    outline: none;
}

@media screen and (min-width: 990px){
    #advanced-search-form .form-group, #advanced-search-form2 .form-group{
        width: 45%;
    }

    #advanced-search-form, #advanced-search-form2{
        margin-top: 0;
    }
    .contenedor{
        display: flex;
    }
    #contenedorImagen{
        width: 20%;
    }
    #contenedorInformacion{
        width: 80%;
    }
}

@media screen and (max-width: 800px){
    #advanced-search-form .form-group, #advanced-search-form2 .form-group{
        width: 100%;
        margin-left: 0;
    }

    #advanced-search-form span, #advanced-search-form2 span{
        text-align: center;
    }
    
}

.iconoEditar:hover{
    cursor: pointer;
}

.btnRegistrar{
    background-color: rgb(243, 88, 25);
    border-color: rgb(243, 88, 25);
}

.btnRegistrar:hover{
    cursor: pointer;
}

.iconoEditar{
    height: 50px;
}

hr.divider{
    border-top: 1px solid #8c8b8b;
    margin: 0&;
    padding: 0%;
}

.contenedor {
	height: 86%;
	width: 100%;
	margin: 0%;
	padding: 0%;
	background-color: #f0f0f0;
	overflow-y:auto;
}

/* Modal styles */


.modal .modal-dialog {
    max-width: 800px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}	
.modal form label {
    font-weight: normal;
}


ul > li > a{
	font-family: "Myriad Pro";
	color: rgb(9, 134, 136);
	font-size: large;
}