<header>
  <div class="container-fluid contenedor">
    <nav class="navbar navbar-expand-lg navbar-light navbar">
      <div class="DivImagenLogo">
        <img class="imgLogo" src="assets/images/Logo Bind In navbar.png" alt="Logo Bind In">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link filaNavbar" href="#">
              <div>
                <img class="iconoMenu" src="assets/images/profile.png" alt="Icono consultar">
              </div>
              <div id="opcionMenu">
                Mi perfil
              </div>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <div>
                <img class="iconoMenu" src="assets/images/lupa.png" alt="Icono consultar">
              </div>
              <div id="opcionMenu">
                Consultar
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>