html, body {
	background-color: #f0f0f0;
    font-family: "Myriad Pro";
}

.container-fluid {
	height: 86%;
	width: 100%;
	margin: 0%;
	padding: 0%;
	background-color: #f0f0f0;
	overflow-y:auto;
}

ul > li > a{
	font-family: "Myriad Pro";
	color: rgb(9, 134, 136);
	font-size: larger;
}
