<ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="agregar-dominio-tab" data-toggle="tab" href="#informacionConcursoAgregar"
                role="tab" aria-controls="informacionConcursoAgregar" aria-selected="false">Infomración</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="agregar-dominio-tab" data-toggle="tab" href="#responsabilidadesAgregar" role="tab"
                aria-controls="responsabilidadesAgregar" aria-selected="false">Responsabilidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="idiomasConcursoAgregar-tab" data-toggle="tab" href="#idiomasConcursoAgregar" role="tab"
                aria-controls="idiomasConcursoAgregar" aria-selected="true">Idiomas requeridos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="agregar-experiencia-tab" data-toggle="tab" href="#certificacionesConcursoAgregar"
                role="tab" aria-controls="certificacionesConcursoAgregar" aria-selected="true">Certificaciones requeridas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="agregar-experiencia-tab" data-toggle="tab" href="#dominiosConcursoAgregar" role="tab"
                aria-controls="dominiosConcursoAgregar" aria-selected="true">Dominios requeridos</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="margin-top: 10px;">
        <div class="tab-pane fade show active" id="informacionConcursoAgregar" role="tabpanel"
            aria-labelledby="dominios-tab">
            <div class="row">
                <div class="col-md-12">
                    <div id="contenedorInformacion">
                        <form style="color: black;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nombre-empresa">Nombre del puesto</label>
                                        <input type="text" class="form-control" placeholder="Puesto" id="empresa-info"
                                            name="empresaInfo" [(ngModel)]="mainservice.addConcurso.nombredelpuesto">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="salida">Fecha de salida</label>
                                        <input type="date" class="form-control" placeholder="Fecha de salida"
                                            id="fecha-salida-info" name="fecha-salida-info"
                                            [(ngModel)]="mainservice.addConcurso.fechadecaducidad">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="desc">Descripción</label>
                                        <input type="text" class="form-control" placeholder="Descripción"
                                            id="descripcion-info" name="descripcion-info"
                                            [(ngModel)]="mainservice.addConcurso.descripcion" style="overflow-y:auto;">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="tab-pane fade" id="responsabilidadesAgregar" role="tabpanel" aria-labelledby="dominios-tab">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrapper table-responsive-md col-md-12">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Descripción</label>
                                        <input class="form-control" placeholder="Descripción" id="softwareOption"
                                            name="softwareOption" [(ngModel)]="selectedResponsabilidadDesc" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="color: transparent;"> asd</label>
                                        <button style="height: auto;" type="button" id="addButtonId"
                                            class="form-control btn btn-info add-new"
                                            (click)="agregarResponsabilidadAgregar()">
                                            <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Descripción</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody id="contenedorResponsabilidadesAgregar">
                                    <tr *ngFor="let resp of mainservice.addConcurso.responsabilidades;">
                                        <td>{{resp}}</td>
                                        <td><button style="background: transparent; border: none !important;"
                                                (click)="deleteResponsabilidadAgregar(resp)">
                                                <img src="assets/images/basurero.png" />
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="idiomasConcursoAgregar" role="tabpanel" aria-labelledby="dominios-tab">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrapper table-responsive-md col-md-12">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Idioma</label>
                                        <select class="dropdwn custom-select form-control" id="nivelOptionAgregar"
                                            name="nivelOptionAgregar" [(ngModel)]="selectedIdiomaAgregar">
                                            <option *ngFor="let idioma of mainservice.idiomas" [value]="idioma">
                                                {{idioma}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nivel del idioma</label>
                                        <select class="dropdwn custom-select form-control" id="nivelOptionAgregar"
                                            name="nivelOptionAgregar" [(ngModel)]="selectedNivelAgregar">
                                            <option *ngFor="let nivelidioma of mainservice.nivelesidioma"
                                                [value]="nivelidioma">
                                                {{nivelidioma}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="color: transparent;"> asd</label>
                                        <button style="height: auto;" type="button" id="addButtonId"
                                            class="form-control btn btn-info add-new" (click)="agregarIdiomaAgregar()">
                                            <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Idioma</th>
                                        <th>Nivel</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody id="contenedorIdiomasAgregar">
                                    <tr *ngFor="let idioma of mainservice.addConcurso.idiomas">
                                        <td>{{idioma.nombre}}</td>
                                        <td>{{idioma.nivel}}</td>
                                        <td><button style="background: transparent; border: none !important;"
                                                (click)="deleteIdiomaAgregar(idioma)">
                                                <img src="assets/images/basurero.png" />
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="certificacionesConcursoAgregar" role="tabpanel" aria-labelledby="dominios-tab">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrapper table-responsive-md col-md-12">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Título</label>
                                        <input class="form-control" placeholder="Título" id="softwareOption"
                                            name="softwareOption" [(ngModel)]="selectedCertificacionAgregar.titulo" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>¿Es obligatorio?</label>
                                        <div class="radio" aria-="true">
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio"
                                                    [checked]="selectedCertificacionAgregar.obligatorio === true"
                                                    (click)="selectedCertificacionAgregar.obligatorio = true">Sí</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio"
                                                    [checked]="selectedCertificacionAgregar.obligatorio === false"
                                                    (click)="selectedCertificacionAgregar.obligatorio = false">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="color: transparent;"> asd</label>
                                        <button style="height: auto;" type="button" id="addButtonId"
                                            class="form-control btn btn-info add-new"
                                            (click)="agregarCertificacionAgregar()">
                                            <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Titulo</th>
                                        <th>Obligatorio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="contenedorDominiosAgregar">
                                    <tr *ngFor="let certi of mainservice.addConcurso.certificaciones">
                                        <td>{{certi.titulo}}</td>
                                        <td>{{ certi.obligatorio == true ? 'Sí' : 'No' }}</td>
                                        <td><button style="background: transparent; border: none !important;"
                                                (click)="deleteCertificacionAgregar(certi)">
                                                <img src="assets/images/basurero.png" />
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="tab-pane fade" id="dominiosConcursoAgregar" role="tabpanel" aria-labelledby="dominios-tab">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrapper table-responsive-md col-md-12">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input class="form-control" placeholder="Nombre" id="softwareOption"
                                            name="softwareOption" [(ngModel)]="selectedDominioAgregar.nombre" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        <select class="dropdwn custom-select form-control" id="nivelOptionAgregar"
                                            name="nivelOptionAgregar" [(ngModel)]="selectedDominioAgregar.tipo">
                                            <option *ngFor="let tipo of mainservice.tiposdesoftware" [value]="tipo">
                                                {{tipo}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>¿Es obligatorio?</label>
                                        <div class="radio" aria-="true">
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio"
                                                    [checked]="selectedDominioAgregar.obligatorio === true"
                                                    (click)="selectedDominioAgregar.obligatorio = true">Sí</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio"
                                                    [checked]="selectedDominioAgregar.obligatorio === false"
                                                    (click)="selectedDominioAgregar.obligatorio = false">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="color: transparent;"> asd</label>
                                        <button style="height: auto;" type="button" id="addButtonId"
                                            class="form-control btn btn-info add-new" (click)="agregarDominioAgregar()">
                                            <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
    
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo</th>
                                        <th>Obligatorio</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody id="contenedorDominiosAgregar">
                                    <tr *ngFor="let dominio of mainservice.addConcurso.dominios">
                                        <td>{{dominio.nombre}}</td>
                                        <td>{{dominio.tipo}}</td>
                                        <td>{{ dominio.obligatorio == true ? 'Sí' : 'No' }}</td>
                                        <td><button style="background: transparent; border: none !important;"
                                                (click)="deleteDominioAgregar(dominio)">
                                                <img src="assets/images/basurero.png" />
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>