<div class="container-fluid" id="advanced-search-form" style="margin-top: 3%;">
    <div>
        <span>Información de mi empresa</span>
        <a href="#addEmployeeModal" data-toggle="modal"><img class="iconoEditar" src="assets/images/editar.png"
                alt="icono editar" (click)="editar()"></a>
    </div>
    <hr class="divider">
    <div class="container-fluid contenedor">
        <div id="contenedorImagen">
            <h5 style="margin-bottom:10px; color: rgb(9, 134, 136);">{{mainservice.empresa.nombreusuario}}</h5>
            <div class="imgUp">
                <div class="imagePreview" id="imagePreview"></div>
                <label class="btn btnRegistrar btn-primary btn-responsive">
                    Cargar imagen<input type="file" class="uploadFile img" value="Upload Photo"
                        style="width: 0px;height: 0px;overflow: hidden;">
                </label>
            </div><!-- col-2 -->
        </div>
        <div id="contenedorInformacion">
            <form style="color: black;">
                <div class="form-group">
                    <label for="nombre-empresa">Nombre de la empresa</label>
                    <input type="text" class="form-control" placeholder="Nombre empresa" id="nombre-empresa-info"
                        value="{{mainservice.empresa.nombre}}" disabled>
                </div>
                <div class="form-group">
                    <label for="correo">Correo Electrónico</label>
                    <input type="email" class="form-control" placeholder="Correo Electrónico" id="correo-info"
                        value="{{mainservice.empresa.email}}" disabled>
                </div>
                <div class="form-group">
                    <label for="telefono1">Teléfono 1</label>
                    <input type="text" class="form-control" placeholder="Teléfono 1" id="telefono1-info"
                        value="{{mainservice.empresa.telefono1}}" disabled>
                </div>
                <div class="form-group">
                    <label for="telefono2">Teléfono 2</label>
                    <input type="text" class="form-control" placeholder="Teléfono 2" id="telefono2-info"
                        value="{{mainservice.empresa.telefono2}}" disabled>
                </div>
                <div class="form-group">
                    <label for="sitio-web">Sitio web</label>
                    <input type="text" class="form-control" placeholder="Sitio web" id="sitio-web-info"
                        value="{{mainservice.empresa.sitio}}" disabled>
                </div>
                <div class="form-group">
                    <label for="contact">Nombre de contacto</label>
                    <input type="text" class="form-control" placeholder="Nombre del contacto" id="contacto-info"
                        value="{{mainservice.empresa.nacionalidad}}" disabled>
                </div>
                <div class="form-group">
                    <label for="provincia">Provincia</label>
                    <input type="text" class="form-control" placeholder="Provincia" id="provincia-info"
                        value="{{mainservice.empresa.provincia}}" disabled>
                </div>
                <div class="form-group">
                    <label for="canton">Cantón</label>
                    <input type="text" class="form-control" placeholder="Cantón" id="canton-info"
                        value="{{mainservice.empresa.canton}}" disabled>
                </div>
                <div class="form-group">
                    <label for="distrito">Distrito</label>
                    <input type="text" class="form-control" placeholder="Distrito" id="distrito-info"
                        value="{{mainservice.empresa.distrito}}" disabled>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <div id="addEmployeeModal"  data-backdrop="static" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Editar información personal</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            (click)="cancelarEdit()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="contenedorInformacion">
                            <form style="color: black;" role="form">
                                <div class="form-group">
                                    <label for="name">Nombre de la empresa</label>
                                    <input type="text" class="form-control" placeholder="Nombre empresa" id="nombre-empresa"
                                        [(ngModel)]="empresaedit.nombre" [ngModelOptions]="{standalone: true}" required (keyup)="textChange('nombre-empresa', 'Ingrese un nombre')">
                                    <div id="error-nombre" class="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo Electrónico</label>
                                    <input type="email" class="form-control" placeholder="Correo Electrónico"
                                        [(ngModel)]="empresaedit.email" [ngModelOptions]="{standalone: true}"
                                        id="correo" required (keyup)="textChange('correo', 'Ingrese su correo')">
                                </div>
                                <div class="form-group">
                                    <label for="telefono">Teléfono 1</label>
                                    <input required type="text" class="form-control" placeholder="Teléfono 1"
                                        id="telefono1" [(ngModel)]="empresaedit.telefono1"
                                        [ngModelOptions]="{standalone: true}"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                </div>
                                <div class="form-group">
                                    <label for="telefono">Teléfono 2</label>
                                    <input required type="text" class="form-control" placeholder="Teléfono 2"
                                        id="telefono2" [(ngModel)]="empresaedit.telefono2"
                                        [ngModelOptions]="{standalone: true}"
                                        onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                </div>
                                <div class="form-group">
                                    <label for="sitio">Sitio web</label>
                                    <input type="text" class="form-control" placeholder="Sitio web" id="sitio-web"
                                        required [(ngModel)]="empresaedit.sitioweb"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="pais">Nombre del contacto</label>
                                    <input type="text" class="form-control" placeholder="Nombre del contacto" id="contacto"
                                        required [(ngModel)]="empresaedit.sitioweb"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <label for="provincia1">Provincia</label>
                                    <select id="provinciaDropdown" name="provinciaDropdown" class="dropdwn custom-select form-control"
                                    [(ngModel)]="selectedProvincia" (change)="filterCantones(true)">
                                        <option *ngFor="let prov of mainservice.direcciones"
                                            [selected]="prov.provincia == empresaedit.provincia" value={{prov.provinciacod}}>{{prov.provincia}}</option>
                                            
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="canton1">Cantón</label>
                                    <select id="cantonDropdown" name="cantonDropdown" class="dropdwn custom-select form-control"
                                    [(ngModel)]="selectedCanton">
                                        <option *ngFor="let canton of mainservice.cantonesFiltrados"
                                            [selected]="canton.canton == empresaedit.canton" value={{canton.cantoncod}}>{{canton.canton}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="distrito1">Distrito</label>
                                    <select id="distritoDropdown" name="distritoDropdown" class="dropdwn custom-select form-control"
                                    [(ngModel)]="selectedDistrito">
                                        <option *ngFor="let distrito of mainservice.distritosFiltrados"
                                            [selected]="distrito.distrito == empresaedit.distrito" value={{distrito.distritocod}}>{{distrito.distrito}}</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="button" id="submit" class="btn btnRegistrar btn-success" value="Guardar Cambios"
                            (click)="guardarEdit()">
                        <button type="button" #dismiss style="display: none;" data-dismiss="modal" (click)="cancelarEdit()">&times;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
