<div class="container-fluid" style="min-height: 500px;">
    <div class="row">
        <a title="Agregar experiencia" style="margin-left: 65%; margin-top: 2%; margin-bottom: 1%;"
            href="#agregarNuevaExperiencia" data-toggle="modal" (click)="agregarExperiencia()"><img class="iconoEditar"
                src="assets/images/agregar.png" alt="icono agregar">
        </a>
        <a title="Guardar cambios" style="margin-left: 2%; margin-top: 2%; margin-bottom: 1%;"
            (click)="GuardarCambios()" data-toggle="modal"><img class="iconoEditar" src="assets/images/guardar.png"
                alt="icono guardar cambios">
        </a>
        <a title="Descartar cambios" style="margin-left: 2%; margin-top: 2%; margin-bottom: 1%;"
            href="#omitChangesModal" data-toggle="modal"><img class="iconoEditar" src="assets/images/descartar.png"
                alt="icono editar">
        </a>
        <div id="agregarNuevaExperiencia" data-backdrop="static" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">Agregar experiencia</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="agregar-experiencia-tab" data-toggle="tab"
                                        href="#agregar-experiencia" role="tab" aria-controls="agregar-experiencia"
                                        aria-selected="true">Experiencia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="agregar-dominio-tab" data-toggle="tab"
                                        href="#agregar-dominio" role="tab" aria-controls="agregar-dominio"
                                        aria-selected="false">Dominios</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="agregar-experiencia" role="tabpanel"
                                    aria-labelledby="agregar-experiencia-tab">
                                    <div id="advanced-search-form2" style="max-width:800px;">
                                        <form style="color: black; max-width:700px;">
                                            <div class="form-group">
                                                <label for="nombre-empresa">Empresa</label>
                                                <input type="text" class="form-control" placeholder="Empresa"
                                                    id="empresa-add" name="empresa-add"
                                                    [(ngModel)]="nuevaexperiencia.empresa">
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre-cargo">Cargo</label>
                                                <input type="text" class="form-control" placeholder="Cargo"
                                                    id="cargo-add" name="cargo-add"
                                                    [(ngModel)]="nuevaexperiencia.cargo">
                                            </div>
                                            <div class="form-group">
                                                <label for="inicio">Fecha de ingreso</label>
                                                <input type="date" class="form-control" placeholder="Fecha de ingreso"
                                                    id="fecha-ingreso-add" name="fecha-ingreso-add"
                                                    [(ngModel)]="nuevaexperiencia.fechadeingreso">
                                            </div>
                                            <div class="form-group">
                                                <label for="salida">Fecha de salida</label>
                                                <input type="date" class="form-control" placeholder="Fecha de salida"
                                                    id="fecha-salida-add" name="fecha-salida-add"
                                                    [(ngModel)]="nuevaexperiencia.fechadesalida">
                                            </div>
                                            <div class="form-group">
                                                <label for="desc">Descripción</label>
                                                <input type="text" class="form-control" placeholder="Descripción"
                                                    id="descripcion-add" name="descripcion-add"
                                                    [(ngModel)]="nuevaexperiencia.descripcion" style="overflow-y:auto;">
                                            </div>
                                            <div class="form-group">
                                                <label for="trabajo">¿Es su trabajo actual?</label>
                                                <div class="radio">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optradio"
                                                            [checked]="nuevaexperiencia.trabajactual === true"
                                                            (click)="nuevaexperiencia.trabajactual = true">Sí</label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optradio"
                                                            [checked]="nuevaexperiencia.trabajactual === false"
                                                            (click)="nuevaexperiencia.trabajactual = false">No</label>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="agregar-dominio" role="tabpanel"
                                    aria-labelledby="agregar-dominio-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-wrapper table-responsive-md col-md-12">
                                                <div class="table-title">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label>Nombre del dominio</label>
                                                                <input class="form-control" placeholder="Software"
                                                                    id="softwareOptionAgregar"
                                                                    name="softwareOptionAgregar"
                                                                    [(ngModel)]="selectedNombreAgregar" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="form-group">
                                                                <label>Tipo de software</label>
                                                                <select class="dropdwn custom-select form-control"
                                                                    id="tipoOptionAgregar" name="tipoOptionAgregar"
                                                                    [(ngModel)]="selectedTipoAgregar">
                                                                    <option
                                                                        *ngFor="let Software of mainservice.tiposdesoftware"
                                                                        value="{{Software}}" selected="Software">
                                                                        {{Software}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <button style="height: auto;" type="button"
                                                                    id="addButtonId" class="btn btn-info add-new"
                                                                    (click)="agregarDominioNuevos()">
                                                                    <i class="fa fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="errorAgregar" id="idErrorDominio"></p>
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Software</th>
                                                            <th>Tipo</th>
                                                            <th> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="contenedorDominios">
                                                        <tr *ngFor="let dominio of nuevaexperiencia.dominios">
                                                            <td>{{dominio.nombredellenguaje}}</td>
                                                            <td>{{dominio.tipodesoftware}}</td>
                                                            <td><button
                                                                    style="background: transparent; border: none !important;"
                                                                    (click)="selectedTipoDelete = dominio.tipodesoftware; selectedNombreDelete = dominio.nombredellenguaje; deleteDominioAgregar(dominio)">
                                                                    <img src="assets/images/basurero.png" />
                                                                </button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                            <input type="button" class="btn btnRegistrar btn-success"
                                (click)="GuardarNuevaExperiencia()" value="Guardar Cambios">
                            <button type="button" #dismissAgregar data-dismiss="modal" style="display:none;"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngFor="let experiencia of mainservice.editExperiencias">
        <div class="container-fluid" id="advanced-search-form">
            <div>
                <span>Experiencia profesional</span>
                <a href="#editarExperiencia" data-toggle="modal"><img class="iconoEditar" (click)="editar(experiencia)"
                        src="assets/images/editar.png" alt="icono editar"></a>
                <a (click)=eliminarExperiencia(experiencia)><img class="iconoEditar" src="assets/images/eliminar.png"
                        alt="icono eliminar" style="margin-left: 6px;"></a>
            </div>
            <hr class="divider">
            <div id="contenedorInformacion">
                <form style="color: black;">
                    <div class="form-group">
                        <label for="nombre-empresa">Empresa</label>
                        <input type="text" class="form-control" placeholder="Empresa" id="empresa-info"
                            name="empresaInfo" [(ngModel)]="experiencia.empresa" disabled>
                    </div>
                    <div class="form-group">
                        <label for="nombre-cargo">Cargo</label>
                        <input type="text" class="form-control" placeholder="Cargo" id="cargo-info" name="cargo-info"
                            [(ngModel)]="experiencia.cargo" disabled>
                    </div>
                    <div class="form-group">
                        <label for="inicio">Fecha de ingreso</label>
                        <input type="text" class="form-control" placeholder="Fecha de ingreso" id="fecha-ingreso-info"
                            name="fecha-ingreso-info" [(ngModel)]="experiencia.fechadeingreso" disabled>
                    </div>
                    <div class="form-group">
                        <label for="salida">Fecha de salida</label>
                        <input type="text" class="form-control" placeholder="Fecha de salida" id="fecha-salida-info"
                            name="fecha-salida-info" [(ngModel)]="experiencia.fechadesalida" disabled>
                    </div>
                    <div class="form-group">
                        <label for="desc">Descripción</label>
                        <input type="text" class="form-control" placeholder="Descripción" id="descripcion-info"
                            name="descripcion-info" [(ngModel)]="experiencia.descripcion" style="overflow-y:auto;"
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="trabajo">¿Es su trabajo actual?</label>
                        <div class="radio" aria-disabled="true">
                            <label class="radio-inline">
                                <input type="radio" id="optradio1" disabled
                                    [checked]="experiencia.trabajactual === true">Sí</label>
                            <label class="radio-inline">
                                <input type="radio" id="optradio2" disabled
                                    [checked]="experiencia.trabajactual === false">No</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <a title="Ver dominios" class="btn btnRegistrar btn-success" href="#verDominios" data-toggle="modal"
                        (click)="selectedExperiencia = experiencia">Ver dominios</a>
                </form>
            </div>
        </div>

    </div>

    <div id="editarExperiencia" data-backdrop="static" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Editar experiencia</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="agregarExperiencia-tab" data-toggle="tab"
                                    href="#agregarExperiencia" role="tab" aria-controls="agregarExperiencia"
                                    aria-selected="true">Experiencia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dominios-tab" data-toggle="tab" href="#dominios" role="tab"
                                    aria-controls="dominios" aria-selected="false">Dominios</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="agregarExperiencia" role="tabpanel"
                                aria-labelledby="agregarExperiencia-tab">
                                <div id="advanced-search-form2" style="max-width:800px;">
                                    <form style="color: black; max-width:700px;">
                                        <div class="form-group">
                                            <label for="nombre-empresa">Empresa</label>
                                            <input type="text" class="form-control" placeholder="Empresa"
                                                id="empresa-delete" name="empresa-delete"
                                                [(ngModel)]="experienciaInfoEdit.empresa">
                                        </div>
                                        <div class="form-group">
                                            <label for="nombre-cargo">Cargo</label>
                                            <input type="text" class="form-control" placeholder="Cargo"
                                                id="cargo-delete" name="cargo-delete"
                                                [(ngModel)]="experienciaInfoEdit.cargo">
                                        </div>
                                        <div class="form-group">
                                            <label for="inicio">Fecha de ingreso</label>
                                            <input type="date" class="form-control" placeholder="Fecha de ingreso"
                                                id="fecha-ingreso-delete" name="fecha-ingreso-delete"
                                                [(ngModel)]="experienciaInfoEdit.fechadeingreso">
                                        </div>
                                        <div class="form-group">
                                            <label for="salida">Fecha de salida</label>
                                            <input type="date" class="form-control" placeholder="Fecha de salida"
                                                id="fecha-salida-delete" name="fecha-salida-delete"
                                                [(ngModel)]="experienciaInfoEdit.fechadesalida">
                                        </div>
                                        <div class="form-group">
                                            <label for="desc">Descripción</label>
                                            <input type="text" class="form-control" placeholder="Descripción"
                                                id="descripcion-delete" name="descripcion-delete"
                                                [(ngModel)]="experienciaInfoEdit.descripcion" style="overflow-y:auto;">
                                        </div>
                                        <div class="form-group">
                                            <label for="trabajo">¿Es su trabajo actual?</label>
                                            <div class="radio" aria-="true">
                                                <label class="radio-inline">
                                                    <input type="radio" name="optradio"
                                                        [checked]="experienciaInfoEdit.trabajactual === true"
                                                        (click)="experienciaInfoEdit.trabajactual = true">Sí</label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="optradio"
                                                        [checked]="experienciaInfoEdit.trabajactual === false"
                                                        (click)="experienciaInfoEdit.trabajactual = false">No</label>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dominios" role="tabpanel" aria-labelledby="dominios-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-wrapper table-responsive-md col-md-12">
                                            <div class="table-title">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Nombre del dominio</label>
                                                            <input class="form-control" placeholder="Software"
                                                                id="softwareOption" name="softwareOption"
                                                                [(ngModel)]="selectedNombreEditar" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label>Tipo de software</label>
                                                            <select class="dropdwn custom-select form-control"
                                                                id="tipoOption" name="tipoOption"
                                                                [(ngModel)]="selectedTipoEditar">
                                                                <option
                                                                    *ngFor="let Software of mainservice.tiposdesoftware"
                                                                    value="{{Software}}" selected="Software">
                                                                    {{Software}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label> </label>
                                                            <button style="height: auto;" type="button" id="addButtonId"
                                                                class="btn btn-info add-new"
                                                                (click)="agregarDominioEditar()">
                                                                <i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="errorAgregar" id="idErrorDominio"></p>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Software</th>
                                                        <th>Tipo</th>
                                                        <th> </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="contenedorDominios">
                                                    <tr *ngFor="let dominio of experienciaInfoEdit.dominios">
                                                        <td>{{dominio.nombredellenguaje}}</td>
                                                        <td>{{dominio.tipodesoftware}}</td>
                                                        <td><button
                                                                style="background: transparent; border: none !important;"
                                                                (click)="selectedTipoDelete = dominio.tipodesoftware; selectedNombreDelete = dominio.nombredellenguaje; deleteDominioEditar(dominio)">
                                                                <img src="assets/images/basurero.png" />
                                                            </button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="button" class="btn btnRegistrar btn-success" (click)="guardarCambiosEdit()"
                            value="Guardar Cambios">
                        <input type="button" class="btn btn-default" #dismissCambiosEdit data-dismiss="modal"
                            style="display: none;" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="verDominios" data-backdrop="static" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ver dominios</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="dominios-tab" data-toggle="tab" href="#dominios" role="tab"
                                aria-controls="dominios" aria-selected="false">Dominios</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="dominios" role="tabpanel"
                            aria-labelledby="dominios-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-wrapper table-responsive-md col-md-12">
                                        <div class="table-title">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Software</th>
                                                        <th>Tipo</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="contenedorDominios">
                                                    <tr *ngFor="let dominio of selectedExperiencia.dominios">
                                                        <td>{{dominio.nombredellenguaje}}</td>
                                                        <td>{{dominio.tipodesoftware}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btnRegistrar btn-success" data-dismiss="modal" value="Aceptar">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a style="display: none;" href="#changesModal" #changesModalB data-toggle="modal"></a>
    <div class="modal fade" id="changesModal" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteLabel">Éxito</h4>
                </div>
                <div class="modal-body">
                    <p> Las experiencias se han guardado exitosamente. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="deleteConfirm"
                        data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="omitChangesModal" role="dialog" aria-labelledby="omitLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteLabel">Advertencia</h4>
                </div>
                <div class="modal-body">
                    <p> Todos los datos que haya modificado se omitirán. ¿Desea continuar? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="canConfirm" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="cancelConfirm" (click)="cancelarCambiosSure()"
                        data-dismiss="modal">Aceptar</button>
                    <button type="button" #cancelarCambios data-dismiss="modal" style="display:none;"></button>
                </div>
            </div>
        </div>
    </div>
</div>