<div class="main-div">
    <div class="container">
        <div class="row justify-content-center logo-row">
            <img class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 align-self-center" src="assets/images/Logo Bind In.png" routerLink="">
          </div>
        <div class="row justify-content-center slogan-row">
            <img class="col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 align-self-center" src="assets/images/slogan.png" routerLink="">
        </div>
        <div class="row justify-content-center logIn-row">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-7 align-self-center logIn">
                <div class="form-group userName">
                    <label for="userNameField" class="userNameLabel">Nombre de la empresa</label>
                    <input type="text" class="form-control userNameField1" id="userName" (keyup)="textChange('userName', 'userNameError', 'Debes ingresar un nombre.')" aria-describedby="userNameField" placeholder="Ingresa el nombre de tu empresa" required>
                    <div id="userNameError" class="usuarioInvalido">
                            Debes ingresar un nombre.
                    </div>
                </div>
                <div class="form-group userPass">
                    <label for="userPasswordField" class="userPasswordLabel">Correo Electrónico</label>
                    <input type="email" class="form-control userNameField1 " id="userPassword" (keyup)="textChange('userPassword', 'userPassError', 'Debes ingresar un correo.')" aria-describedby="userPasswordField" placeholder="Ingresa el correo electrónico de tu empresa" required>
                    <div id="userPassError" class="InvalidPass">
                            Debes ingresar un correo.
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btnLogIn" (click)="AcceptButton()">Aceptar</button>
                    </div>    
                </div>
            </div>  
        </div>
    </div>
</div>
